/* Custom Stylesheet Goes Here */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Noto+Serif+Sinhala:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
  font-family: "Noto";
  font-size: 1rem;
  font-weight: 400;
}
h1{
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 4rem;
  font-weight: 400;
  font-family: "Nerko One", sans-serif;
  align-items: center;
  color: white;
  background: linear-gradient(0deg, red, yellow, green,  blue, red);
  background-size: 400% 400%;
  animation: Gradient 5s ease infinite;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@-moz-keyframes Gradient { 
  0% {
    background-position: 50% 0%
  }
  50% {
    background-position: 50% 100%
  }
  100% {
    background-position: 50% 0%
  }
}
@keyframes Gradient {
  0% {
    background-position: 50% 0%
  }
  50% {
    background-position: 50% 100%
  }
  100% {
    background-position: 50% 0%
  }
}